node_modules/
TEST WIN INSTALL/
App Dist macOS/
App Dist Windows/
dist/
dist_release/
*.zip
*.log
*.tmp
.DS_Store
Thumbs.db
builder-debug.yml
builder-effective-config.yaml
latest.yml
win-unpacked/
.env
TEST WIN INSTALL/
App Dist macOS/
dist/
dist_release/
*.zip
*.log
*.tmp
.DS_Store
Thumbs.db
builder-debug.yml
builder-effective-config.yaml
latest.yml
win-unpacked/
.env
node_modules
node_modules
